ul {
    list-style-type: none;
    width: 100%;
}

.selected-sub-sidebar-text {
    color: black;
    font-family: "Helvetica";
}

.sub-sidebar-text {
    color: rgb(179, 32, 32);
    font-family: "Helvetica";
}

.sub-sidebar-item-container {
    display: flex;
    padding: 10px 0px;
    padding-left: 3px;
    
    width: 100%;
    justify-content: space-between;
}

.selected-sub-sidebar-item-container {
    border-left: 2px solid black;
    padding: 10px 0px;
    padding-left: 3px;
}

.sub-sidebar-td {
    display: flex;
    justify-content: left;
    padding-left: 20px;
    width: 200px;
    text-align: left;
}

.sub-sidebar-list {
    padding: 0;
    margin: 0;
    
}

.sub-sidebar-eye-slash {
    display: flex;
    float: right;
    padding-right: 30px;
    color: black;
}

.sub-sidebar-course-container {
    display: flex;
    padding: 10px 0px;
    padding-left: 10px;
    
    
}

.sub-sidebar-course-container-text {
    display: inline-block;
    color: grey;
    font-style: italic;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
