.pulished-courses {
    margin: 20px;
}

.container {
    margin: 0px;
    padding: 0px;
}
.wd-dashboard .col{
    width: 270px;
    margin-top: 30px;
}



.wd-dashboard .card-title{
    color: rgb(0, 128, 255);
    
}